<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Checkpawn.css">
</head>

<body><br>
    <div class="background-image">
        <img src="images/kanistra-studio-19-pawnshop.jpg" alt="Pawnshop">
        </div>
    
                <h1><center>สินค้าที่รอการตรวจสอบจากเจ้าหน้าที่</center></h1>
    <table>
        <tr>
            <th>รหัสสินค้า</th>
            <th>รหัสลูกค้า</th>
            <th>ชื่อลูกค้า</th>
            <th>ชื่อสินค้า</th>
            <th>ราคา</th>
            <th>สถานะ</th>
            <th>ยืนยัน</th>
        </tr>
        <% var Count = 1%>
            <% for(let i = 0; i < Items.length; i++){%>
                <tr>
                    <% if(Items[i].Status == 'False') { %>
                        <td>
                            <%= Count++%>
                        </td>
                        <td>
                            <%for(let n = 0; n < Customers.length;n++){%>
                                <%if(Items[i].Customer_Id == Customers[n].Customer_Id) {%>
                                    <%= Customers[n].Customer_Id %>
                                        <%break%>
                                            <%}%>
                                                <%}%>
                        </td>
                        <td>
                            <%for(let n = 0; n < Customers.length;n++){%>
                                <%if(Items[i].Customer_Id == Customers[n].Customer_Id) {%>
                                    <%= Customers[n].Name %>
                                        <%break%>
                                            <%}%>
                                                <%}%>
                        </td>
                        </td>
                        <td>
                            <%= Items[i].Name %>
                        </td>
                        <td>
                            <%= Items[i].Value %>
                        </td>
                        <td>
                            รอการตรวจสอบ
                        </td>
                        <td>

                            <a href="/Confirm/<%= Items[i].Product_Id%>">ยืนยันการจำนำ</a>
                        </td>

                </tr>
                <%}%>
                    <%}%>
    </table><br>
    <center><a href="/admin">กลับไปยังหน้าหลัก</a></center>

</body>

</html>